In [18]:
import pandas as pd
import numpy as np
import re
data = pd.read_json('overviews_processed.json')
data

,Unnamed: 0,id,original_title,release_date,vote_average,vote_count,popularity,budget,revenue,overview,overview_punct_sep,overview_tokenize,overview_sent_tokenize,overview_lower,overview_stopwords,overview_stemmed,overview_pos
0,0,12230,One Hundred and One Dalmatians,1961-01-25,7.2,5391,86.694,4000000,85000000,When a litter of dalmatian puppies are abducte...,"[When, a, litter, of, dalmatian, puppies, are,...","[When, a, litter, of, dalmatian, puppies, are,...","[[When, a, litter, of, dalmatian, puppies, are...","[when, a, litter, of, dalmatian, puppies, are,...","[litter, dalmatian, puppies, abducted, minions...","[when, a, litter, of, dalmatian, puppi, are, a...","[[when, WRB], [a, DT], [litter, NN], [of, IN],..."
1,1,1725,West Side Story,1961-12-13,7.3,1530,16.230,6000000,43656822,In the slums of the upper West Side of Manhatt...,"[In, the, slums, of, the, upper, West, Side, o...","[In, the, slums, of, the, upper, West, Side, o...","[[In, the, slums, of, the, upper, West, Side, ...","[in, the, slums, of, the, upper, west, side, o...","[slums, upper, west, side, manhattan, ,, new, ...","[in, the, slum, of, the, upper, west, side, of...","[[in, IN], [the, DT], [slums, NNS], [of, IN], ..."
2,2,10911,The Guns of Navarone,1961-04-27,7.3,603,20.224,6000000,28900000,A team of allied saboteurs are assigned an imp...,"[A, team, of, allied, saboteurs, are, assigned...","[A, team, of, allied, saboteurs, are, assigned...","[[A, team, of, allied, saboteurs, are, assigne...","[a, team, of, allied, saboteurs, are, assigned...","[team, allied, saboteurs, assigned, impossible...","[a, team, of, alli, saboteur, are, assign, an,...","[[a, DT], [team, NN], [of, IN], [allied, JJ], ..."
3,3,40894,Lover Come Back,1961-12-20,7.1,102,8.889,0,16937969,Jerry Webster and Carol Templeton are rival Ma...,"[Jerry, Webster, and, Carol, Templeton, are, r...","[Jerry, Webster, and, Carol, Templeton, are, r...","[[Jerry, Webster, and, Carol, Templeton, are, ...","[jerry, webster, and, carol, templeton, are, r...","[jerry, webster, carol, templeton, rival, madi...","[jerri, webster, and, carol, templeton, are, r...","[[jerry, NN], [webster, NN], [and, CC], [carol..."
4,4,36362,King of Kings,1961-10-11,7.1,147,25.296,5037000,14483352,"Who is Jesus, and why does he impact all he me...","[Who, is, Jesus, ,, and, why, does, he, impact...","[Who, is, Jesus, ,, and, why, does, he, impact...","[[Who, is, Jesus, ,, and, why, does, he, impac...","[who, is, jesus, ,, and, why, does, he, impact...","[jesus, ,, impact, meets, ?, respected, revile...","[who, is, jesu, ,, and, whi, doe, he, impact, ...","[[who, WP], [is, VBZ], [jesus, NN], [,, ,], [a..."
5,5,22386,Come September,1961-01-01,6.9,60,7.657,0,14170000,"Robert Talbot, an American millionaire, arrive...","[Robert, Talbot, ,, an, American, millionaire,...","[Robert, Talbot, ,, an, American, millionaire,...","[[Robert, Talbot, ,, an, American, millionaire...","[robert, talbot, ,, an, american, millionaire,...","[robert, talbot, ,, american, millionaire, ,, ...","[robert, talbot, ,, an, american, millionair, ...","[[robert, NN], [talbot, NN], [,, ,], [an, DT],..."
6,6,821,Judgment at Nuremberg,1961-12-18,8.1,582,13.286,3000000,10000000,"In 1947, four German judges who served on the ...","[In, 1947, ,, four, German, judges, who, serve...","[In, 1947, ,, four, German, judges, who, serve...","[[In, 1947, ,, four, German, judges, who, serv...","[in, 1947, ,, four, german, judges, who, serve...","[1947, ,, four, german, judges, served, bench,...","[in, 1947, ,, four, german, judg, who, serv, o...","[[in, IN], [1947, CD], [,, ,], [four, CD], [ge..."
7,7,164,Breakfast at Tiffany's,1961-10-06,7.7,3592,22.373,2500000,9500000,Holly Golightly is an eccentric New York City ...,"[Holly, Golightly, is, an, eccentric, New, Yor...","[Holly, Golightly, is, an, eccentric, New, Yor...","[[Holly, Golightly, is, an, eccentric, New, Yo...","[holly, golightly, is, an, eccentric, new, yor...","[holly, golightly, eccentric, new, york, city,...","[holli, golightli, is, an, eccentr, new, york,...","[[holly, RB], [golightly, RB], [is, VBZ], [an,..."
8,8,11536,The Misfits,1961-02-01,6.9,276,10.575,4000000,8200000,"While filing for a divorce, beautiful ex-strip...","[While, filing, for, a, divorce, ,, beautiful,...","[While, filing, for, a, divorce, ,, beautiful,...","[[While, filing, for, a, divorce, ,, beautiful...","[while, filing, for, a, divorce, ,, beautiful,...","[filing, divorce, ,, beautiful, ex-stripper, r...","[while, file, for, a, divorc, ,, beauti, ex-st...","[[while, IN], [filing, VBG], [for, IN], [a, DT..."
9,9,990,The Hustler,1961-09-25,7.8,752,16.375,2000000,7600000,Fast Eddie Felson is a small-time pool hustler...,"[Fast, Eddie, Felson, is, a, small-time, pool,...","[Fast, Eddie, Felson, is, a, small-time, pool,...","[[Fast, Eddie, Felson, is, a, small-time, pool...","[fast, eddie, felson, is, a, small-time, pool,...","[fast, eddie, felson, small-time, pool, hustle...","[fast, eddi, felson, is, a, small-tim, pool, h...","[[fast, RB], [eddie, JJ], [felson, NN], [is, V..."
10,10,2160,Voyage to the Bottom of the Sea,1961-07-12,5.8,98,12.647,1580000,7000000,The crew of an atomic submarine battle to save...,"[The, crew, of, an, atomic, submarine, battle,...","[The, crew, of, an, atomic, submarine, battle,...","[[The, crew, of, an, atomic, submarine, battle...","[the, crew, of, an, atomic, submarine, battle,...","[crew, atomic, submarine, battle, save, world,...","[the, crew, of, an, atom, submarin, battl, to,...","[[the, DT], [crew, NN], [of, IN], [an, DT], [a..."
11,11,248,Pocketful of Miracles,1961-12-18,7.3,132,9.140,2900000,5000000,"Boozy, brassy Apple Annie, a beggar with a bas...","[Boozy, ,, brassy, Apple, Annie, ,, a, beggar,...","[Boozy, ,, brassy, Apple, Annie, ,, a, beggar,...","[[Boozy, ,, brassy, Apple, Annie, ,, a, beggar...","[boozy, ,, brassy, apple, annie, ,, a, beggar,...","[boozy, ,, brassy, apple, annie, ,, beggar, ba...","[boozi, ,, brassi, appl, anni, ,, a, beggar, w...","[[boozy, NN], [,, ,], [brassy, JJ], [apple, NN..."
12,12,18647,One-Eyed Jacks,1961-03-30,6.8,158,9.974,6000000,4300000,Running from the law after a bank robbery in M...,"[Running, from, the, law, after, a, bank, robb...","[Running, from, the, law, after, a, bank, robb...","[[Running, from, the, law, after, a, bank, rob...","[running, from, the, law, after, a, bank, robb...","[running, law, bank, robbery, mexico, ,, dad, ...","[run, from, the, law, after, a, bank, robberi,...","[[running, VBG], [from, IN], [the, DT], [law, ..."
13,13,28284,Parrish,1961-05-04,5.4,7,2.255,1500000,4200000,Parrish McLean lives with his mother Ellen on ...,"[Parrish, McLean, lives, with, his, mother, El...","[Parrish, McLean, lives, with, his, mother, El...","[[Parrish, McLean, lives, with, his, mother, E...","[parrish, mclean, lives, with, his, mother, el...","[parrish, mclean, lives, mother, ellen, sala, ...","[parrish, mclean, live, with, hi, mother, elle...","[[parrish, JJ], [mclean, NN], [lives, VBZ], [w..."
14,14,18228,Blue Hawaii,1961-11-22,5.9,98,7.030,2000000,4200000,Chad Gates has just been discharged from the A...,"[Chad, Gates, has, just, been, discharged, fro...","[Chad, Gates, has, just, been, discharged, fro...","[[Chad, Gates, has, just, been, discharged, fr...","[chad, gates, has, just, been, discharged, fro...","[chad, gates, discharged, army, ,, happy, back...","[chad, gate, ha, just, been, discharg, from, t...","[[chad, NN], [gates, NNS], [has, VBZ], [just, ..."
15,15,430,"One, Two, Three",1961-12-15,7.6,283,11.984,3000000,4000000,C.R. MacNamara will do anything to get a promo...,"[C.R, ., MacNamara, will, do, anything, to, ge...","[C.R, ., MacNamara, will, do, anything, to, ge...","[[C.R, .], [MacNamara, will, do, anything, to,...","[c.r, ., macnamara, will, do, anything, to, ge...","[c.r, ., macnamara, anything, get, promotion, ...","[c.r, ., macnamara, will, do, anyth, to, get, ...","[[c.r, NN], [., .], [macnamara, NN], [will, MD..."
16,16,39410,モスラ,1961-07-30,7.2,121,10.895,0,2237760,Shipwreck survivors found on the presumably un...,"[Shipwreck, survivors, found, on, the, presuma...","[Shipwreck, survivors, found, on, the, presuma...","[[Shipwreck, survivors, found, on, the, presum...","[shipwreck, survivors, found, on, the, presuma...","[shipwreck, survivors, found, presumably, unin...","[shipwreck, survivor, found, on, the, presum, ...","[[shipwreck, NN], [survivors, NNS], [found, VB..."
17,17,28501,The Pit and the Pendulum,1961-08-12,6.9,247,8.568,200000,2000000,"Francis Barnard goes to Spain, when he hears h...","[Francis, Barnard, goes, to, Spain, ,, when, h...","[Francis, Barnard, goes, to, Spain, ,, when, h...","[[Francis, Barnard, goes, to, Spain, ,, when, ...","[francis, barnard, goes, to, spain, ,, when, h...","[francis, barnard, goes, spain, ,, hears, sist...","[franci, barnard, goe, to, spain, ,, when, he,...","[[francis, RB], [barnard, NN], [goes, VBZ], [t..."
18,18,4497,Viridiana,1961-05-17,7.7,407,6.725,0,679244,Viridiana is preparing to start her life as a ...,"[Viridiana, is, preparing, to, start, her, lif...","[Viridiana, is, preparing, to, start, her, lif...","[[Viridiana, is, preparing, to, start, her, li...","[viridiana, is, preparing, to, start, her, lif...","[viridiana, preparing, start, life, nun, sent,...","[viridiana, is, prepar, to, start, her, life, ...","[[viridiana, NN], [is, VBZ], [preparing, VBG],..."
19,19,43020,Il colosso di Rodi,1961-06-15,6.0,139,6.860,0,350000,"While on holiday in Rhodes, Athenian war hero ...","[While, on, holiday, in, Rhodes, ,, Athenian, ...","[While, on, holiday, in, Rhodes, ,, Athenian, ...","[[While, on, holiday, in, Rhodes, ,, Athenian,...","[while, on, holiday, in, rhodes, ,, athenian, ...","[holiday, rhodes, ,, athenian, war, hero, dari...","[while, on, holiday, in, rhode, ,, athenian, w...","[[while, IN], [on, IN], [holiday, NN], [in, IN..."

In [19]:
data['wordcount'] = data.overview_punct_sep.apply(lambda x: [ word for word in x if not re.fullmatch(r'\W+', word)])
data['wordcount'] = data.wordcount.apply(lambda x: len(x))
data['sentence_wordcount'] = data.overview_sent_tokenize.apply(lambda x: [[ word for word in sent if not re.fullmatch(r'\W+', word)] for sent in x])

data['sentence_wordcount'] = data.overview_sent_tokenize.apply(lambda x: [len(sent) for sent in x])
data['avg_sent_length'] = data.sentence_wordcount.apply(lambda x: np.mean(x))

data

,Unnamed: 0,id,original_title,release_date,vote_average,vote_count,popularity,budget,revenue,overview,overview_punct_sep,overview_tokenize,overview_sent_tokenize,overview_lower,overview_stopwords,overview_stemmed,overview_pos,wordcount,sentence_wordcount,avg_sent_length
0,0,12230,One Hundred and One Dalmatians,1961-01-25,7.2,5391,86.694,4000000,85000000,When a litter of dalmatian puppies are abducte...,"[When, a, litter, of, dalmatian, puppies, are,...","[When, a, litter, of, dalmatian, puppies, are,...","[[When, a, litter, of, dalmatian, puppies, are...","[when, a, litter, of, dalmatian, puppies, are,...","[litter, dalmatian, puppies, abducted, minions...","[when, a, litter, of, dalmatian, puppi, are, a...","[[when, WRB], [a, DT], [litter, NN], [of, IN],...",112,"[31, 15, 19, 15, 25, 24]",21.500000
1,1,1725,West Side Story,1961-12-13,7.3,1530,16.230,6000000,43656822,In the slums of the upper West Side of Manhatt...,"[In, the, slums, of, the, upper, West, Side, o...","[In, the, slums, of, the, upper, West, Side, o...","[[In, the, slums, of, the, upper, West, Side, ...","[in, the, slums, of, the, upper, west, side, o...","[slums, upper, west, side, manhattan, ,, new, ...","[in, the, slum, of, the, upper, west, side, of...","[[in, IN], [the, DT], [slums, NNS], [of, IN], ...",57,"[44, 23]",33.500000
2,2,10911,The Guns of Navarone,1961-04-27,7.3,603,20.224,6000000,28900000,A team of allied saboteurs are assigned an imp...,"[A, team, of, allied, saboteurs, are, assigned...","[A, team, of, allied, saboteurs, are, assigned...","[[A, team, of, allied, saboteurs, are, assigne...","[a, team, of, allied, saboteurs, are, assigned...","[team, allied, saboteurs, assigned, impossible...","[a, team, of, alli, saboteur, are, assign, an,...","[[a, DT], [team, NN], [of, IN], [allied, JJ], ...",32,[34],34.000000
3,3,40894,Lover Come Back,1961-12-20,7.1,102,8.889,0,16937969,Jerry Webster and Carol Templeton are rival Ma...,"[Jerry, Webster, and, Carol, Templeton, are, r...","[Jerry, Webster, and, Carol, Templeton, are, r...","[[Jerry, Webster, and, Carol, Templeton, are, ...","[jerry, webster, and, carol, templeton, are, r...","[jerry, webster, carol, templeton, rival, madi...","[jerri, webster, and, carol, templeton, are, r...","[[jerry, NN], [webster, NN], [and, CC], [carol...",51,"[20, 40]",30.000000
4,4,36362,King of Kings,1961-10-11,7.1,147,25.296,5037000,14483352,"Who is Jesus, and why does he impact all he me...","[Who, is, Jesus, ,, and, why, does, he, impact...","[Who, is, Jesus, ,, and, why, does, he, impact...","[[Who, is, Jesus, ,, and, why, does, he, impac...","[who, is, jesus, ,, and, why, does, he, impact...","[jesus, ,, impact, meets, ?, respected, revile...","[who, is, jesu, ,, and, whi, doe, he, impact, ...","[[who, WP], [is, VBZ], [jesus, NN], [,, ,], [a...",36,"[13, 18, 13]",14.666667
5,5,22386,Come September,1961-01-01,6.9,60,7.657,0,14170000,"Robert Talbot, an American millionaire, arrive...","[Robert, Talbot, ,, an, American, millionaire,...","[Robert, Talbot, ,, an, American, millionaire,...","[[Robert, Talbot, ,, an, American, millionaire...","[robert, talbot, ,, an, american, millionaire,...","[robert, talbot, ,, american, millionaire, ,, ...","[robert, talbot, ,, an, american, millionair, ...","[[robert, NN], [talbot, NN], [,, ,], [an, DT],...",63,"[19, 18, 19, 16]",18.000000
6,6,821,Judgment at Nuremberg,1961-12-18,8.1,582,13.286,3000000,10000000,"In 1947, four German judges who served on the ...","[In, 1947, ,, four, German, judges, who, serve...","[In, 1947, ,, four, German, judges, who, serve...","[[In, 1947, ,, four, German, judges, who, serv...","[in, 1947, ,, four, german, judges, who, serve...","[1947, ,, four, german, judges, served, bench,...","[in, 1947, ,, four, german, judg, who, serv, o...","[[in, IN], [1947, CD], [,, ,], [four, CD], [ge...",64,"[27, 42]",34.500000
7,7,164,Breakfast at Tiffany's,1961-10-06,7.7,3592,22.373,2500000,9500000,Holly Golightly is an eccentric New York City ...,"[Holly, Golightly, is, an, eccentric, New, Yor...","[Holly, Golightly, is, an, eccentric, New, Yor...","[[Holly, Golightly, is, an, eccentric, New, Yo...","[holly, golightly, is, an, eccentric, new, yor...","[holly, golightly, eccentric, new, york, city,...","[holli, golightli, is, an, eccentr, new, york,...","[[holly, RB], [golightly, RB], [is, VBZ], [an,...",34,"[16, 21]",18.500000
8,8,11536,The Misfits,1961-02-01,6.9,276,10.575,4000000,8200000,"While filing for a divorce, beautiful ex-strip...","[While, filing, for, a, divorce, ,, beautiful,...","[While, filing, for, a, divorce, ,, beautiful,...","[[While, filing, for, a, divorce, ,, beautiful...","[while, filing, for, a, divorce, ,, beautiful,...","[filing, divorce, ,, beautiful, ex-stripper, r...","[while, file, for, a, divorc, ,, beauti, ex-st...","[[while, IN], [filing, VBG], [for, IN], [a, DT...",64,"[26, 27, 19]",24.000000
9,9,990,The Hustler,1961-09-25,7.8,752,16.375,2000000,7600000,Fast Eddie Felson is a small-time pool hustler...,"[Fast, Eddie, Felson, is, a, small-time, pool,...","[Fast, Eddie, Felson, is, a, small-time, pool,...","[[Fast, Eddie, Felson, is, a, small-time, pool...","[fast, eddie, felson, is, a, small-time, pool,...","[fast, eddie, felson, small-time, pool, hustle...","[fast, eddi, felson, is, a, small-tim, pool, h...","[[fast, RB], [eddie, JJ], [felson, NN], [is, V...",31,"[18, 15]",16.500000
10,10,2160,Voyage to the Bottom of the Sea,1961-07-12,5.8,98,12.647,1580000,7000000,The crew of an atomic submarine battle to save...,"[The, crew, of, an, atomic, submarine, battle,...","[The, crew, of, an, atomic, submarine, battle,...","[[The, crew, of, an, atomic, submarine, battle...","[the, crew, of, an, atomic, submarine, battle,...","[crew, atomic, submarine, battle, save, world,...","[the, crew, of, an, atom, submarin, battl, to,...","[[the, DT], [crew, NN], [of, IN], [an, DT], [a...",14,[15],15.000000
11,11,248,Pocketful of Miracles,1961-12-18,7.3,132,9.140,2900000,5000000,"Boozy, brassy Apple Annie, a beggar with a bas...","[Boozy, ,, brassy, Apple, Annie, ,, a, beggar,...","[Boozy, ,, brassy, Apple, Annie, ,, a, beggar,...","[[Boozy, ,, brassy, Apple, Annie, ,, a, beggar...","[boozy, ,, brassy, apple, annie, ,, a, beggar,...","[boozy, ,, brassy, apple, annie, ,, beggar, ba...","[boozi, ,, brassi, appl, anni, ,, a, beggar, w...","[[boozy, NN], [,, ,], [brassy, JJ], [apple, NN...",137,"[28, 18, 55, 20, 33]",30.800000
12,12,18647,One-Eyed Jacks,1961-03-30,6.8,158,9.974,6000000,4300000,Running from the law after a bank robbery in M...,"[Running, from, the, law, after, a, bank, robb...","[Running, from, the, law, after, a, bank, robb...","[[Running, from, the, law, after, a, bank, rob...","[running, from, the, law, after, a, bank, robb...","[running, law, bank, robbery, mexico, ,, dad, ...","[run, from, the, law, after, a, bank, robberi,...","[[running, VBG], [from, IN], [the, DT], [law, ...",63,"[30, 21, 20]",23.666667
13,13,28284,Parrish,1961-05-04,5.4,7,2.255,1500000,4200000,Parrish McLean lives with his mother Ellen on ...,"[Parrish, McLean, lives, with, his, mother, El...","[Parrish, McLean, lives, with, his, mother, El...","[[Parrish, McLean, lives, with, his, mother, E...","[parrish, mclean, lives, with, his, mother, el...","[parrish, mclean, lives, mother, ellen, sala, ...","[parrish, mclean, live, with, hi, mother, elle...","[[parrish, JJ], [mclean, NN], [lives, VBZ], [w...",47,"[19, 22, 12]",17.666667
14,14,18228,Blue Hawaii,1961-11-22,5.9,98,7.030,2000000,4200000,Chad Gates has just been discharged from the A...,"[Chad, Gates, has, just, been, discharged, fro...","[Chad, Gates, has, just, been, discharged, fro...","[[Chad, Gates, has, just, been, discharged, fr...","[chad, gates, has, just, been, discharged, fro...","[chad, gates, discharged, army, ,, happy, back...","[chad, gate, ha, just, been, discharg, from, t...","[[chad, NN], [gates, NNS], [has, VBZ], [just, ...",26,[29],29.000000
15,15,430,"One, Two, Three",1961-12-15,7.6,283,11.984,3000000,4000000,C.R. MacNamara will do anything to get a promo...,"[C.R, ., MacNamara, will, do, anything, to, ge...","[C.R, ., MacNamara, will, do, anything, to, ge...","[[C.R, .], [MacNamara, will, do, anything, to,...","[c.r, ., macnamara, will, do, anything, to, ge...","[c.r, ., macnamara, anything, get, promotion, ...","[c.r, ., macnamara, will, do, anyth, to, get, ...","[[c.r, NN], [., .], [macnamara, NN], [will, MD...",62,"[2, 19, 8, 8, 19, 21]",12.833333
16,16,39410,モスラ,1961-07-30,7.2,121,10.895,0,2237760,Shipwreck survivors found on the presumably un...,"[Shipwreck, survivors, found, on, the, presuma...","[Shipwreck, survivors, found, on, the, presuma...","[[Shipwreck, survivors, found, on, the, presum...","[shipwreck, survivors, found, on, the, presuma...","[shipwreck, survivors, found, presumably, unin...","[shipwreck, survivor, found, on, the, presum, ...","[[shipwreck, NN], [survivors, NNS], [found, VB...",53,"[38, 20]",29.000000
17,17,28501,The Pit and the Pendulum,1961-08-12,6.9,247,8.568,200000,2000000,"Francis Barnard goes to Spain, when he hears h...","[Francis, Barnard, goes, to, Spain, ,, when, h...","[Francis, Barnard, goes, to, Spain, ,, when, h...","[[Francis, Barnard, goes, to, Spain, ,, when, ...","[francis, barnard, goes, to, spain, ,, when, h...","[francis, barnard, goes, spain, ,, hears, sist...","[franci, barnard, goe, to, spain, ,, when, he,...","[[francis, RB], [barnard, NN], [goes, VBZ], [t...",69,"[15, 35, 26]",25.333333
18,18,4497,Viridiana,1961-05-17,7.7,407,6.725,0,679244,Viridiana is preparing to start her life as a ...,"[Viridiana, is, preparing, to, start, her, lif...","[Viridiana, is, preparing, to, start, her, lif...","[[Viridiana, is, preparing, to, start, her, li...","[viridiana, is, preparing, to, start, her, lif...","[viridiana, preparing, start, life, nun, sent,...","[viridiana, is, prepar, to, start, her, life, ...","[[viridiana, NN], [is, VBZ], [preparing, VBG],...",80,"[27, 12, 8, 25, 17]",17.800000
19,19,43020,Il colosso di Rodi,1961-06-15,6.0,139,6.860,0,350000,"While on holiday in Rhodes, Athenian war hero ...","[While, on, holiday, in, Rhodes, ,, Athenian, ...","[While, on, holiday, in, Rhodes, ,, Athenian, ...","[[While, on, holiday, in, Rhodes, ,, Athenian,...","[while, on, holiday, in, rhodes, ,, athenian, ...","[holiday, rhodes, ,, athenian, war, hero, dari...","[while, on, holiday, in, rhode, ,, athenian, w...","[[while, IN], [on, IN], [holiday, NN], [in, IN...",31,[34],34.000000

In [20]:
data['adjectives'] = data.overview_pos.apply(lambda x: [word for word, pos in x if pos=='JJ'])
data['nouns'] = data.overview_pos.apply(lambda x: [word for word, pos in x if pos.startswith('NN')])
data['punctuation'] = data.overview_punct_sep.apply(lambda x: [word for word in x if re.fullmatch(r'\W+', word)])

data['adjective_ratio'] = data.apply (lambda row: len(row.adjectives) / row.wordcount, axis=1)
data['ellipses'] = data.punctuation.apply(lambda x: len([punct for punct in x if re.fullmatch('...', punct)]))
data['exclamation_points'] = data.punctuation.apply(lambda x: len([punct for punct in x if re.fullmatch('!', punct)]))
data['unusual_punctuation'] = data.punctuation.apply(lambda x:[punct for punct in x if not re.fullmatch('[.|,]', punct)])

with pd.option_context('display.max_colwidth', 1000):
  display(data)

,Unnamed: 0,id,original_title,release_date,vote_average,vote_count,popularity,budget,revenue,overview,...,wordcount,sentence_wordcount,avg_sent_length,adjectives,nouns,punctuation,adjective_ratio,ellipses,exclamation_points,unusual_punctuation
0,0,12230,One Hundred and One Dalmatians,1961-01-25,7.2,5391,86.694,4000000,85000000,"When a litter of dalmatian puppies are abducted by the minions of Cruella De Vil, the parents must find them before she uses them for a diabolical fashion statement.\r In a Disney animation classic, Dalmatian Pongo is tired of his bachelor-dog life. He spies lovely Perdita and maneuvers his master, Roger, into meeting Perdita's owner, Anita. The owners fall in love and marry, keeping Pongo and Perdita together too. After Perdita gives birth to a litter of 15 puppies, Anita's old school friend Cruella De Vil wants to buy them all. Roger declines her offer, so Cruella hires the criminal Badun brothers to steal them -- so she can have a fur coat.",...,112,"[31, 15, 19, 15, 25, 24]",21.500000,"[dalmatian, diabolical, classic, dalmatian, bachelor-dog, perdita, perdita, old, cruella, criminal, fur]","[litter, puppies, minions, cruella, parents, fashion, statement, disney, animation, pongo, life, maneuvers, master, roger, perdita, owner, owners, love, marry, pongo, birth, litter, puppies, school, friend, cruella, roger, offer, hires, badun, brothers, coat]","[,, ., ,, ., ,, ,, ,, ., ,, ., ,, ., ,, --, .]",0.098214,0,0,[--]
1,1,1725,West Side Story,1961-12-13,7.3,1530,16.230,6000000,43656822,"In the slums of the upper West Side of Manhattan, New York, a gang of Polish-American teenagers called the Jets compete with a rival gang of recently immigrated Puerto Ricans, the Sharks, to ""own"" the neighborhood streets. Tensions are high between the gangs but two kids, one from each rival gang, fall in love leading to tragedy.",...,57,"[44, 23]",33.500000,"[upper, west, new, polish-american, rival, high, rival]","[slums, side, manhattan, york, gang, teenagers, jets, gang, puerto, ricans, sharks, neighborhood, streets, tensions, gangs, kids, gang, fall, love]","[,, ,, ,, ,, "", "", ., ,, ,, .]",0.122807,0,0,"["", ""]"
2,2,10911,The Guns of Navarone,1961-04-27,7.3,603,20.224,6000000,28900000,"A team of allied saboteurs are assigned an impossible mission: infiltrate an impregnable Nazi-held island and destroy the two enormous long-range field guns that prevent the rescue of 2,000 trapped British soldiers.",...,32,[34],34.000000,"[allied, impossible, impregnable, nazi-held, enormous, long-range, trapped, british]","[team, saboteurs, mission, island, field, guns, rescue, soldiers]","[:, .]",0.250000,0,0,[:]
3,3,40894,Lover Come Back,1961-12-20,7.1,102,8.889,0,16937969,"Jerry Webster and Carol Templeton are rival Madison Avenue advertising executives who each dislike each other’s methods. After he steals a client out from under her cute little nose, revenge prompts her to infiltrate his secret ""VIP"" campaign in order to persuade the mystery product’s scientist to switch to her firm.",...,51,"[20, 40]",30.000000,"[rival, madison, other, ’, s, cute, little, nose, secret, s]","[jerry, webster, carol, templeton, avenue, executives, dislike, methods, client, revenge, prompts, vip, campaign, order, mystery, product, ’, scientist, firm]","[., ,, "", "", .]",0.196078,0,0,"["", ""]"
4,4,36362,King of Kings,1961-10-11,7.1,147,25.296,5037000,14483352,"Who is Jesus, and why does he impact all he meets? He is respected and reviled, emulated and accused, beloved, betrayed, and finally crucified. Yet that terrible fate would not be the end of the story.",...,36,"[13, 18, 13]",14.666667,[terrible],"[jesus, fate, end, story]","[,, ?, ,, ,, ,, ,, ., .]",0.027778,0,0,[?]
5,5,22386,Come September,1961-01-01,6.9,60,7.657,0,14170000,"Robert Talbot, an American millionaire, arrives early for his annual vacation at his luxurious Italian villa. His long-time girlfriend Lisa has given up waiting for him and has decided to marry another man. Meanwhile, his sneaky business associate Maurice secretly misappropriates the villa as a hotel while Talbot is away. The current guests of the ""hotel"" are a group of young American girls.",...,63,"[19, 18, 19, 16]",18.000000,"[american, annual, luxurious, italian, long-time, sneaky, associate, current, young, american]","[robert, talbot, millionaire, vacation, villa, girlfriend, lisa, man, business, maurice, villa, hotel, talbot, guests, hotel, group, girls]","[,, ,, ., ., ,, ., "", "", .]",0.158730,0,0,"["", ""]"
6,6,821,Judgment at Nuremberg,1961-12-18,8.1,582,13.286,3000000,10000000,"In 1947, four German judges who served on the bench during the Nazi regime face a military tribunal to answer charges of crimes against humanity. Chief Justice Haywood hears evidence and testimony not only from lead defendant Ernst Janning and his defense attorney Hans Rolfe, but also from the widow of a Nazi general, an idealistic U.S. Army captain and reluctant witness Irene Wallner.",...,64,"[27, 42]",34.500000,"[german, nazi, military, chief, lead, nazi, general, idealistic, u.s., reluctant]","[judges, bench, regime, face, tribunal, charges, crimes, humanity, justice, haywood, hears, evidence, testimony, defendant, ernst, janning, defense, attorney, hans, widow, army, captain, witness, irene, wallner]","[,, ., ,, ,, ., .]",0.156250,0,0,[]
7,7,164,Breakfast at Tiffany's,1961-10-06,7.7,3592,22.373,2500000,9500000,"Holly Golightly is an eccentric New York City playgirl determined to marry a Brazilian millionaire. But when young writer Paul Varjak moves into her apartment building, her past threatens to get in their way.",...,34,"[16, 21]",18.500000,"[eccentric, new, brazilian, young, past]","[york, city, playgirl, millionaire, writer, paul, varjak, apartment, building, threatens, way]","[., ,, .]",0.147059,0,0,[]
8,8,11536,The Misfits,1961-02-01,6.9,276,10.575,4000000,8200000,"While filing for a divorce, beautiful ex-stripper Roslyn Taber ends up meeting aging cowboy-turned-gambler Gay Langland and former World War II aviator Guido Racanelli. The two men instantly become infatuated with Roslyn and, on a whim, the three decide to move into Guido's half-finished desert home together. When grizzled ex-rodeo rider Perce Howland arrives, the unlikely foursome strike up a business capturing wild horses.",...,64,"[26, 27, 19]",24.000000,"[beautiful, ex-stripper, former, infatuated, half-finished, grizzled, ex-rodeo, unlikely, wild]","[divorce, roslyn, taber, cowboy-turned-gambler, gay, langland, world, war, ii, aviator, guido, racanelli, men, roslyn, whim, decide, guido, desert, home, rider, perce, howland, foursome, strike, business, horses]","[,, ., ,, ,, ., ,, .]",0.140625,0,0,[]
9,9,990,The Hustler,1961-09-25,7.8,752,16.375,2000000,7600000,Fast Eddie Felson is a small-time pool hustler with a lot of talent but a self-destructive attitude. His bravado causes him to challenge the legendary Minnesota Fats to a high-stakes match.,...,31,"[18, 15]",16.500000,"[eddie, small-time, self-destructive, legendary, high-stakes]","[felson, pool, hustler, lot, talent, attitude, bravado, minnesota, fats, match]","[., .]",0.161290,0,0,[]
10,10,2160,Voyage to the Bottom of the Sea,1961-07-12,5.8,98,12.647,1580000,7000000,The crew of an atomic submarine battle to save the world from global destruction.,...,14,[15],15.000000,"[atomic, global]","[crew, submarine, battle, world, destruction]",[.],0.142857,0,0,[]
11,11,248,Pocketful of Miracles,1961-12-18,7.3,132,9.140,2900000,5000000,"Boozy, brassy Apple Annie, a beggar with a basket of apples, is as much a part of downtown New York as old Broadway itself. Bootlegger Dave the Dude is a sucker for her apples -- he thinks they bring him luck. But Dave and girlfriend Queenie Martin need a lot more than luck when it turns out that Annie is in a jam and only they can help: Annie's daughter Louise, who has lived all her life in a Spanish convent, is coming to America with a Count and his son. The count's son wants to marry Louise, who thinks her mother is part of New York society. It's up to Dave and Queenie and their cronies to turn Annie into a lady and convince the Count and his son that they are hobnobbing with New York's elite.",...,137,"[28, 18, 55, 20, 33]",30.800000,"[brassy, much, downtown, new, old, luck, dave, girlfriend, spanish, new, new]","[boozy, apple, annie, beggar, basket, apples, part, york, broadway, bootlegger, dude, sucker, apples, queenie, martin, lot, luck, annie, jam, annie, daughter, louise, life, convent, count, son, count, son, louise, mother, part, york, society, cronies, lady, count, son, york, elite]","[,, ,, ,, ., --, ., :, ,, ,, ., ,, ., .]",0.080292,0,0,"[--, :]"
12,12,18647,One-Eyed Jacks,1961-03-30,6.8,158,9.974,6000000,4300000,"Running from the law after a bank robbery in Mexico, Dad Longworth finds an opportunity to take the stolen gold and leave his partner Rio to be captured. Years later, Rio escapes from the prison where he has been since, and hunts down Dad for revenge. Dad is now a respectable sheriff in California, and has been living in fear of Rio's return.",...,63,"[30, 21, 20]",23.666667,"[dad, respectable]","[law, bank, robbery, mexico, longworth, opportunity, gold, partner, rio, years, escapes, prison, hunts, dad, revenge, dad, sheriff, california, fear, rio, return]","[,, ., ,, ,, ., ,, .]",0.031746,0,0,[]
13,13,28284,Parrish,1961-05-04,5.4,7,2.255,1500000,4200000,"Parrish McLean lives with his mother Ellen on Sala Post's tobacco plantation in the Connecticut River Valley. His mother winds up marrying Sala's rival Judd Raike, ruthless planter who wants to drive Sala out of business. Judd insists that Parrish learn the business from the ground up.",...,47,"[19, 22, 12]",17.666667,"[parrish, rival, ruthless]","[mclean, mother, ellen, sala, post, tobacco, plantation, connecticut, river, valley, mother, sala, judd, raike, planter, sala, business, judd, parrish, business, ground]","[., ,, ., .]",0.063830,0,0,[]
14,14,18228,Blue Hawaii,1961-11-22,5.9,98,7.030,2000000,4200000,"Chad Gates has just been discharged from the Army, and is happy to be back in Hawaii with his surf-board, his beach buddies and his girlfriend.",...,26,[29],29.000000,[happy],"[chad, gates, army, hawaii, surf-board, beach, buddies, girlfriend]","[,, ,, .]",0.038462,0,0,[]
15,15,430,"One, Two, Three",1961-12-15,7.6,283,11.984,3000000,4000000,"C.R. MacNamara will do anything to get a promotion within the Coca-Cola company, including looking after boss W.P. Hazeltine's rebellious teenage daughter, Scarlett. When Scarlett visits Berlin, where C.R. is stationed, she reveals that she is married to a communist named Otto Piffl -- and C.R. recognizes that Otto's anti-establishment stance will clash with his boss's own political views, possibly jeopardizing his promotion.",...,62,"[2, 19, 8, 8, 19, 21]",12.833333,"[coca-cola, rebellious, scarlett, anti-establishment, own, political]","[c.r, macnamara, anything, promotion, company, boss, w.p, hazeltine, teenage, daughter, scarlett, visits, berlin, c.r, communist, piffl, c.r, otto, stance, boss, views, promotion]","[., ,, ., ,, ., ,, ., ,, --, ., ,, .]",0.096774,0,0,[--]
16,16,39410,モスラ,1961-07-30,7.2,121,10.895,0,2237760,"Shipwreck survivors found on the presumably uninhabited Infant Island leads to a scientific expedition that discovers a surviving native population along with the Shobijin, tiny twin fairy priestesses of the island's mythical deity called Mothra. After the fairies are kidnapped by an exploitative businessman named Clark Nelson, Mothra sets out to rescue them.",...,53,"[38, 20]",29.000000,"[uninhabited, scientific, native, tiny, mythical, exploitative]","[shipwreck, survivors, infant, island, expedition, population, shobijin, twin, fairy, priestesses, island, deity, mothra, fairies, businessman, clark, nelson]","[,, ., ,, .]",0.113208,0,0,[]
17,17,28501,The Pit and the Pendulum,1961-08-12,6.9,247,8.568,200000,2000000,"Francis Barnard goes to Spain, when he hears his sister Elizabeth has died. Her husband Nicholas Medina, the son of the most brutal torturer of the Spanish Inquisition, tells him she has died of a blood disease, but Francis finds this hard to believe. After some investigating he finds out that it was extreme fear that was fatal to his sister and that she may have been buried alive!",...,69,"[15, 35, 26]",25.333333,"[brutal, spanish, francis, hard, extreme, fatal, alive]","[barnard, sister, elizabeth, husband, nicholas, medina, son, torturer, inquisition, blood, disease, investigating, fear, sister]","[,, ., ,, ,, ,, ., !]",0.101449,0,1,[!]
18,18,4497,Viridiana,1961-05-17,7.7,407,6.725,0,679244,"Viridiana is preparing to start her life as a nun when she is sent, somewhat unwillingly, to visit her aging uncle, Don Jaime. He supports her; but the two have met only once. Jaime thinks Viridiana resembles his dead wife. Viridiana has secretly despised this man all her life and finds her worst fears proven when Jaime grows determined to seduce his pure niece. Viridiana becomes undone as her uncle upends the plans she had made to join the convent.",...,80,"[27, 12, 8, 25, 17]",17.800000,"[sent, jaime, dead, worst]","[viridiana, life, nun, uncle, don, jaime, thinks, wife, viridiana, man, life, fears, jaime, grows, pure, niece, viridiana, uncle, plans, convent]","[,, ,, ,, ., ;, ., ., ., .]",0.050000,0,0,[;]
19,19,43020,Il colosso di Rodi,1961-06-15,6.0,139,6.860,0,350000,"While on holiday in Rhodes, Athenian war hero Darios becomes involved in two different plots to overthrow the tyrannical king, one from Rhodian patriots and the other from sinister Phoenician agents.",...,31,[34],34.000000,"[athenian, different, tyrannical, rhodian, other, sinister, phoenician]","[holiday, rhodes, war, hero, darios, plots, king, patriots, agents]","[,, ,, .]",0.225806,0,0,[]

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              20 non-null     int64
 1   id                      20 non-null     int64
 2   original_title          20 non-null     object
 3   release_date            20 non-null     object
 4   vote_average            20 non-null     float64
 5   vote_count              20 non-null     int64
 6   popularity              20 non-null     float64
 7   budget                  20 non-null     int64
 8   revenue                 20 non-null     int64
 9   overview                20 non-null     object
 10  overview_punct_sep      20 non-null     object
 11  overview_tokenize       20 non-null     object
 12  overview_sent_tokenize  20 non-null     object
 13  overview_lower          20 non-null     object
 14  overview_stopwords      20 non-null     object
 15  overview_stemmed        20 non-null     object
 16  overview_pos            20 non-null     object
 17  wordcount               20 non-null     int64
 18  sentence_wordcount      20 non-null     object
 19  avg_sent_length         20 non-null     float64
 20  adjectives              20 non-null     object
 21  nouns                   20 non-null     object
 22  punctuation             20 non-null     object
 23  adjective_ratio         20 non-null     float64
 24  ellipses                20 non-null     int64
 25  exclamation_points      20 non-null     int64
 26  unusual_punctuation     20 non-null     object
dtypes: float64(4), int64(8), object(15)
memory usage: 4.4+ KB

In [26]:
data_trimmed = data.drop(['overview_punct_sep', 'overview_tokenize', 'overview_sent_tokenize', 'overview_lower', 'overview_stopwords', 'overview_stemmed', 'overview_pos', 'sentence_wordcount', 'punctuation'], axis=1)
data_trimmed

,Unnamed: 0,id,original_title,release_date,vote_average,vote_count,popularity,budget,revenue,overview,wordcount,avg_sent_length,adjectives,nouns,adjective_ratio,ellipses,exclamation_points,unusual_punctuation
0,0,12230,One Hundred and One Dalmatians,1961-01-25,7.2,5391,86.694,4000000,85000000,When a litter of dalmatian puppies are abducte...,112,21.500000,"[dalmatian, diabolical, classic, dalmatian, ba...","[litter, puppies, minions, cruella, parents, f...",0.098214,0,0,[--]
1,1,1725,West Side Story,1961-12-13,7.3,1530,16.230,6000000,43656822,In the slums of the upper West Side of Manhatt...,57,33.500000,"[upper, west, new, polish-american, rival, hig...","[slums, side, manhattan, york, gang, teenagers...",0.122807,0,0,"["", ""]"
2,2,10911,The Guns of Navarone,1961-04-27,7.3,603,20.224,6000000,28900000,A team of allied saboteurs are assigned an imp...,32,34.000000,"[allied, impossible, impregnable, nazi-held, e...","[team, saboteurs, mission, island, field, guns...",0.250000,0,0,[:]
3,3,40894,Lover Come Back,1961-12-20,7.1,102,8.889,0,16937969,Jerry Webster and Carol Templeton are rival Ma...,51,30.000000,"[rival, madison, other, ’, s, cute, little, no...","[jerry, webster, carol, templeton, avenue, exe...",0.196078,0,0,"["", ""]"
4,4,36362,King of Kings,1961-10-11,7.1,147,25.296,5037000,14483352,"Who is Jesus, and why does he impact all he me...",36,14.666667,[terrible],"[jesus, fate, end, story]",0.027778,0,0,[?]
5,5,22386,Come September,1961-01-01,6.9,60,7.657,0,14170000,"Robert Talbot, an American millionaire, arrive...",63,18.000000,"[american, annual, luxurious, italian, long-ti...","[robert, talbot, millionaire, vacation, villa,...",0.158730,0,0,"["", ""]"
6,6,821,Judgment at Nuremberg,1961-12-18,8.1,582,13.286,3000000,10000000,"In 1947, four German judges who served on the ...",64,34.500000,"[german, nazi, military, chief, lead, nazi, ge...","[judges, bench, regime, face, tribunal, charge...",0.156250,0,0,[]
7,7,164,Breakfast at Tiffany's,1961-10-06,7.7,3592,22.373,2500000,9500000,Holly Golightly is an eccentric New York City ...,34,18.500000,"[eccentric, new, brazilian, young, past]","[york, city, playgirl, millionaire, writer, pa...",0.147059,0,0,[]
8,8,11536,The Misfits,1961-02-01,6.9,276,10.575,4000000,8200000,"While filing for a divorce, beautiful ex-strip...",64,24.000000,"[beautiful, ex-stripper, former, infatuated, h...","[divorce, roslyn, taber, cowboy-turned-gambler...",0.140625,0,0,[]
9,9,990,The Hustler,1961-09-25,7.8,752,16.375,2000000,7600000,Fast Eddie Felson is a small-time pool hustler...,31,16.500000,"[eddie, small-time, self-destructive, legendar...","[felson, pool, hustler, lot, talent, attitude,...",0.161290,0,0,[]
10,10,2160,Voyage to the Bottom of the Sea,1961-07-12,5.8,98,12.647,1580000,7000000,The crew of an atomic submarine battle to save...,14,15.000000,"[atomic, global]","[crew, submarine, battle, world, destruction]",0.142857,0,0,[]
11,11,248,Pocketful of Miracles,1961-12-18,7.3,132,9.140,2900000,5000000,"Boozy, brassy Apple Annie, a beggar with a bas...",137,30.800000,"[brassy, much, downtown, new, old, luck, dave,...","[boozy, apple, annie, beggar, basket, apples, ...",0.080292,0,0,"[--, :]"
12,12,18647,One-Eyed Jacks,1961-03-30,6.8,158,9.974,6000000,4300000,Running from the law after a bank robbery in M...,63,23.666667,"[dad, respectable]","[law, bank, robbery, mexico, longworth, opport...",0.031746,0,0,[]
13,13,28284,Parrish,1961-05-04,5.4,7,2.255,1500000,4200000,Parrish McLean lives with his mother Ellen on ...,47,17.666667,"[parrish, rival, ruthless]","[mclean, mother, ellen, sala, post, tobacco, p...",0.063830,0,0,[]
14,14,18228,Blue Hawaii,1961-11-22,5.9,98,7.030,2000000,4200000,Chad Gates has just been discharged from the A...,26,29.000000,[happy],"[chad, gates, army, hawaii, surf-board, beach,...",0.038462,0,0,[]
15,15,430,"One, Two, Three",1961-12-15,7.6,283,11.984,3000000,4000000,C.R. MacNamara will do anything to get a promo...,62,12.833333,"[coca-cola, rebellious, scarlett, anti-establi...","[c.r, macnamara, anything, promotion, company,...",0.096774,0,0,[--]
16,16,39410,モスラ,1961-07-30,7.2,121,10.895,0,2237760,Shipwreck survivors found on the presumably un...,53,29.000000,"[uninhabited, scientific, native, tiny, mythic...","[shipwreck, survivors, infant, island, expedit...",0.113208,0,0,[]
17,17,28501,The Pit and the Pendulum,1961-08-12,6.9,247,8.568,200000,2000000,"Francis Barnard goes to Spain, when he hears h...",69,25.333333,"[brutal, spanish, francis, hard, extreme, fata...","[barnard, sister, elizabeth, husband, nicholas...",0.101449,0,1,[!]
18,18,4497,Viridiana,1961-05-17,7.7,407,6.725,0,679244,Viridiana is preparing to start her life as a ...,80,17.800000,"[sent, jaime, dead, worst]","[viridiana, life, nun, uncle, don, jaime, thin...",0.050000,0,0,[;]
19,19,43020,Il colosso di Rodi,1961-06-15,6.0,139,6.860,0,350000,"While on holiday in Rhodes, Athenian war hero ...",31,34.000000,"[athenian, different, tyrannical, rhodian, oth...","[holiday, rhodes, war, hero, darios, plots, ki...",0.225806,0,0,[]

In [27]:
data[data['exclamation_points']>0]

,Unnamed: 0,id,original_title,release_date,vote_average,vote_count,popularity,budget,revenue,overview,...,wordcount,sentence_wordcount,avg_sent_length,adjectives,nouns,punctuation,adjective_ratio,ellipses,exclamation_points,unusual_punctuation
17,17,28501,The Pit and the Pendulum,1961-08-12,6.9,247,8.568,200000,2000000,"Francis Barnard goes to Spain, when he hears h...",...,69,"[15, 35, 26]",25.333333,"[brutal, spanish, francis, hard, extreme, fata...","[barnard, sister, elizabeth, husband, nicholas...","[,, ., ,, ,, ,, ., !]",0.101449,0,1,[!]

In [28]:
 data_trimmed.to_json('overview_feature_table.json')
 data_trimmed.to_csv('overview_feature_table.csv')